/node_modules
/oh_modules
/local.properties
/build-profile.json5
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.upstream
/test-results
/output
/entry/src/main/resources/rawfile/reader
/certificate
